<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AllTesting" allow-return-values="true" parallel="tests" thread-count = "1">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>

	<test name="Search">
		<classes>
		
		
			  <class name="com.perpule.search.DomRoundTripSameDaySearchTest" />
			  <class name="com.perpule.search.DomRoundTripSearchTest" />
			  
			  
			  
			  
			  
		</classes>
	</test>
	
</suite> 
	