<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Product Bar Sanity Check" allow-return-values="true" parallel="tests" thread-count = "1">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>


	<test name="Login">
		<classes>
		 	  <class name="com.perpule.api.loginCheck.UltraPos_LoginCheck" />
		</classes>
	</test>
	
	
	<test name="Send OTP">
		<classes>
		 	  <class name="com.perpule.api.sendOTP.api_sendOTP" />
		</classes>
	</test>
	
	
	<test name="Validate OTP">
		<classes>
		 	  <class name="com.perpule.api.validateOTP.api_validateOTP" />
		</classes>
	</test>
	
	
	<test name="Create Staff">
		<classes>
		 	  <class name="com.perpule.api.createStaff.UltraPos_CreateStaff" />
		</classes>
	</test>
	
	
	<test name="Update Stuff">
		<classes>
		 	  <class name="com.perpule.api.staffDetailsUpdate.UltraPos_StaffDeatilsUpdate" />
	    </classes>
	</test>
	
	
	<test name="Staff Details">
		<classes>
		 	  <class name="com.perpule.api.staffDetails.UltraPos_StaffDeatils" />
		</classes>
	</test>
	
</suite> 
	