<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Product Bar Sanity Check" allow-return-values="true" parallel="tests" thread-count = "1">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>


	<test name="Sanity_Start">
		<classes>
		 	  <class name="com.perpule.api.validateOTP.api_validateOTP" />
	
		 	  <class name="dpos.user.Sanity_ProductBar" />
		</classes>
	</test>
	
</suite> 
	